In [ ]:
                         #  INPUT / OUTPUT Statements

In [ ]:
# Output Statements / Print Statements : 

        print() -> It prints the message to the screen or output device.
    
    # Syntax :
        
                  print(Object,seperator,end,file,flush)

In [12]:
# example - 1

# Expected output : Hey Python   ("USING DOUBLE QUOTES")

print("Hey Python")     # o/p : Hey Python


# Expected output : Hey Data Science   ('USING SINGLE QUOTES')

print('Hey Data Science')     # o/p : Hey Data Science

Hey Python
Hey Data Science

In [13]:
# example - 2

# Expected output : You're here to Learn Python

# Correct Ans :

print("You're here to Learn Python")       # o/p : You're here to Learn Python

You're here to Learn Python

In [11]:
# example - 3

# Expected output : "You are here to Learn Python"

# Correct Answer : 

print('"You are here to Learn Python"')     # o/p : "You are here to Learn Python"

"You are here to Learn Python"

In [14]:
# example - 4

# Expected output : "You're here to Learn Python"

# Correct Answer :

print('"You\'re here to Learn Python"')   # use \ -> escape sequence

"You're here to Learn Python"

In [18]:
# example - 5

# Expected output :  
 
    # Welcome
    # to
    # Python

# Correct Answer :

print("Welcome")
print("to")
print("Python")

print("\n")    # new line

# print() using 'Single Line'

print("Welcome\nto\nPython")

Welcome
to
Python


Welcome
to
Python

In [20]:
# example - 6

# Expected output :

# Name:Yogesh
# Gender:Male

# Correct Answer :

print("Name:Yogesh\nGender:Male")

print("\n")

# Expected output :

#        Name      :  Yogesh
#        Gender    :  Male 

# Correct Answer :

print("Name\t:\tYogesh\nGender\t:\tMale")   # \t - tab -> Aligned sequence

Name:Yogesh
Gender:Male


Name	:	Yogesh
Gender	:	Male

In [26]:
# print()     # Seperator (sep="any") -> "space between 2 words"

# example - 7

# Expected output :

# Happy Learning
# Happy_Learning
# Happy + Learning
# HappyLearning

# Correct Ans :

print("Happy","Learning",sep=" ")         # Happy Learning

print("Happy","Learning",sep="_")         # Happy_Learning

print("Happy","Learning",sep=" + ")       # Happy + Learning

print("Happy","Learning",sep="")          # HappyLearning

Happy Learning
Happy_Learning
Happy + Learning
HappyLearning

In [30]:
# Use end=" " parameter

# example - 8

# Expected output :
# use 3 print statements to get output welcome to India in a single line

# Welcome to India.

# Answer :

print("Welcome",end=" ")
print("to",end=" ")
print("India",end=".")

print("\n")

# Welcome to India     
#     * Python Series
#     * Python Tricks


# Answer :

print("Welcome to India",end="\n\t* ")
print("Python Series",end="\n\t* ")
print("Python Tricks")

Welcome to India.

Welcome to India
	* Python Series
	* Python Tricks