#                              Arguments 

   - Information that can be passed in to  Function
   
   
## Types of Arguments :


          1) position
          2) keyword
          3) default
          4) variable length

In [4]:
#   1)  positional  arguments

# Example - 1 :

def add(a,b):
    c = a+b
    print(f"The addition of {a} + {b} = {c}")

add(10,8)

# if I can passing only 1 arguments 

add(15)   # 'TypeError' : add() missing 1 required positional argument: 'b'

The addition of 10 + 8 = 18

TypeError: add() missing 1 required positional argument: 'b'

In [12]:
  # Example - 2 [ position Arguments ]
    
def my_details(name,age):
    
    print("Name = ",name)
    print("Age = ",age+2)      # change the conditions after 2 years : (age+2)
    
my_details("Hari",23)

# change the positions

my_details(23,"Hari") # in one conditions, if we will give like this format, it returns TypeError

Name =  Hari
Age =  25
Name =  23

TypeError: can only concatenate str (not "int") to str

In [7]:
#   2)   Keyword Arguments

def my_details(name,age):
    
    print(f"Hi. My name is {name}. I am {age} years old.")
    
my_details(name="Hari",age=23)

my_details(age=25,name="Yogesh")

Hi. My name is Hari. I am 23 years old.
Hi. My name is Yogesh. I am 25 years old.

In [13]:
#   3)     Default Argument

# Examples - 1 

def my_details(name,age=20):
    
    print("Name = ",name)
    print("Age = ",age)      
    
my_details("Yogesh")
my_details("Sakthi")
my_details("Hari")

Name =  Yogesh
Age =  20
Name =  Sakthi
Age =  20
Name =  Hari
Age =  20

In [14]:
# Examples - 2 

def my_details(name,age=20):
    
    print("Name = ",name)
    print("Age = ",age)      
    
my_details("Yogesh",age=23)

Name =  Yogesh
Age =  23

In [17]:
# Examples - 3 :  # 1st parameter, we avoid use the default value, when you have multiple args

def my_details(name="Ram",age):  # SyntaxError: non-default argument follows default argument
    
    print("Name = ",name)
    print("Age = ",age)      
    
my_details(age=23)

SyntaxError: non-default argument follows default argument (2370766717.py, line 3)

In [18]:
# # Handle this error to resolve 

def my_details(age,name="Ram"):  
    
    print("Name = ",name)
    print("Age = ",age)      
    
my_details(age=23)

Name =  Ram
Age =  23

In [21]:
# we can use default argument value when you have only one parameter

# Examples :

def my_details(name="Ram"):  
    
    print("Name = ",name)     
    
my_details()

Name =  Ram

In [22]:
#   4)    Variable Length Arguments

def add(a,b):
    c = a+b
    print(f"The addition of {a} + {b} = {c}")

add(10,8,9,7,6)

TypeError: add() takes 2 positional arguments but 5 were given

In [23]:
# above examples return TypeError: add() takes 2 positional arguments but 5 were given

# so we can overcome this error - >  " We can use VARIABLE LENGTH ARGUMENT"

# in this examples , we can see the values of a and b 

# a can take 1st argument
# b can take remaining arguments as a 'tuple'

def add(a,*b):
    print(a)
    print(b)
    print(f"The addition of {a} + {b} = {c}")

add(10,8,9,7,6)

10
(8, 9, 7, 6)

NameError: name 'c' is not defined

In [24]:
def add(a,*b):
    print(a)
    print(b)
    
    c = a
    
    for i in b:
        c = c + i
        
    print(f"The addition of {a} + {b} = {c}")

add(10,8,9,7,6)

10
(8, 9, 7, 6)
The addition of 10 + (8, 9, 7, 6) = 40

In [26]:
def add(*a):
    print(a)
    # print(b)
    
    #c = a
   
    c = 0
    
    for i in a:
        c = c + i
        
    print(f"The sum is {c}")

add(10,8,9,7,6)

(10, 8, 9, 7, 6)
The sum is 40

In [35]:
#    Calculate how many even , odd numbers in the list (using functions)

#    convert list into functions

#   Examples :

def list_to_function(number_list):
        
        even = 0
        odd = 0
        
        for i in number_list:
            
            if(i % 2 == 0):
                even = even + 1
            
            else:
                odd = odd + 1
                
        return even,odd
            
number_list = [10,23,45,18,7,12,27,33,8,55,93,63,17]
print(len(number_list))

even,odd = list_to_function(number_list)

print(f"{even} EVEN numbers present in the list")
print(f"{odd} ODD numbers present in the list")

13
4 EVEN numbers present in the list
9 ODD numbers present in the list

In [4]:
#  keyword arguments   or   **kwargs

# examples :

def details(name,**values):
    
    print("Name : ",name)
    
    print(values.items())
    
    print("\n------------------My Details-----------------------")
    
    for i,j in values.items():
        
        print(i," : ",j)

details("Yogesh",age=23,gender="Male",location="Chennai")
print("\n---------------------------------------------------")

Name :  Yogesh
dict_items([('age', 23), ('gender', 'Male'), ('location', 'Chennai')])

------------------My Details-----------------------
age  :  23
gender  :  Male
location  :  Chennai

---------------------------------------------------