#                         Python Collections (Arrays)

     There are 'four' collection data types in the Python programming language:

###   LIST :
             List is a collection.
             which is 'ordered' and 'Mutable'. 
             Allows duplicate Values.
             
###   TUPLE :           
             Tuple is a collection.
             which is 'ordered' and 'Immutable'. 
             Allows duplicate Values.
              
###   SET :             
             Set is a collection 
             which is 'unordered', 'Immutable', and 'unindexed'.
             Does not allow duplicate Values.
             
###   DICTIONARY :
             Dictionary is a collection 
             which is 'ordered' and 'Mutable'.
             Does not allow duplicate Values.

   #                                   " 1. LIST "
   
   ## Definition:
   
            *  List is an Ordered Collection of heterogenous Datatypes.
            *  List is "MUTABLE".
            *  Allows "DUPLICATE VALUES".
            *  Represented in [] -> Square Brackets.
            *  List can be accessed/Retrieved by using "INDEX".

In [1]:
#  Sample 'List' Examples :

List_1 = ["Hari",23,"Male","Sports","181.50"]

print(List_1)        #  ['Hari', 23, 'Male', 'Sports', '181.50']

['Hari', 23, 'Male', 'Sports', '181.50']

In [2]:
# List Indexing :

List_1 = ["Hari",23,"Male","Sports","181.50"]

print(List_1[2])    # Male

Male

In [ ]:
# LIST - Operations 
   
    * Accessing
    * Modify
    * Deletion

In [7]:
# Accessing 

num = [10,20,30,[40,50],60]

print(num[2])         # 30
print(num[3])         # [40,50]
print(num[3][0])      # 40 
print(num[3][1])      # 50

print(num[-1])        # 60

30
[40, 50]
40
50
60

In [9]:
# Index - Modify

name = ["Hari","Yogesh","Ram"]

name[1] = "Ganesh"

print(name)   #  ['Hari', 'Ganesh', 'Ram']

['Hari', 'Ganesh', 'Ram']

In [10]:
# Indexing - Deletion

name = ["Hari","Yogesh","Ram"]

del name[1]
print(name)   #  ['Hari', 'Ram']

['Hari', 'Ram']

In [11]:
# List - Slicing

List = ["Hari","Yogesh","Ram","Ganesh","Gopi","Raghu"]

print(List[2:5])    #  ['Ram', 'Ganesh', 'Gopi']

['Ram', 'Ganesh', 'Gopi']

In [12]:
# Slicing - Reversing the List

Num = [10,20,30,40,50]

print(Num[::-1])   # [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

In [17]:
# Slicing - Modify

Num = [10,20,30,40,50]

Num[0::2] = [75,75,75]

print(Num)       # [75, 20, 75, 40, 75]

[75, 20, 75, 40, 75]

In [22]:
# Slicing - DELETION

Num = [10,20,30,40,50]

del(Num[0:2])

print(Num)    # [30, 40, 50]

Num1 = [60,70,80,90,95]
del(Num1[::2])
print(Num1)    # [70, 90]

[30, 40, 50]
[70, 90]

#                        LIST -   BASIC OPERATIONS

   -  len()
   -  concatenation
   -  repetition
   -  Membership operator

In [24]:
# 1) len()

list_1 = [1,3,4,[6,7,8]]
print(len(list_1))       # 4

4

In [25]:
# 2) concatenation

list_1 =[1,2,3]
list_2 =[4,5]

print(list_1 + list_2)   # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [26]:
# 3) Repitition

list_1 =[1,2,3]

print(list_1 * 3)   #  [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
# 4) Membership Operator  -> in , not in

list_1 =[1,2,3]

print(2 in list_1)  #  True
print(2 not in list_1)  # False

True
False


#                                 LIST - Methods

     
     -    append() , extend()  -> string value
     -    append() , extend()  -> numeric value
     -    append() , extend()  -> List
     -    append() , extend()  -> numeric List
     -    insert()
     -    pop()
     -    remove()
     -    clear()
     -    del()
     -    index()
     -    count()
     -    copy()
     -    sort()
     -    reverse()

In [33]:
#  append() -> 'add' elements at the 'end' of the list
#  extend() -> Add the elements of a list (or any iterable), to the end of the current list

#  1. append() , extend()  -> 'string value'
    
#  Examples : 

List = ["Hari","Yogesh","Ram"]
# append()
List.append("Baskar")
print(List)         #  ['Hari', 'Yogesh', 'Ram', 'Baskar']

List = ["Hari","Yogesh","Ram"]
# extend()
List.extend("Baskar")
print(List)   #  ['Hari', 'Yogesh', 'Ram', 'B', 'a', 's', 'k', 'a', 'r']

['Hari', 'Yogesh', 'Ram', 'Baskar']
['Hari', 'Yogesh', 'Ram', 'B', 'a', 's', 'k', 'a', 'r']

In [38]:
#  2) append() , extend()  -> numeric value

#  append() -> 'add' elements at the 'end' of the list
#  extend() -> Add the elements of a list (or any iterable), to the end of the current list

# Examples : 

List_1 = ["Hari","Yogesh"]    #  ['Hari', 'Yogesh', 23]
List_1.append(23)
print(List_1)

# extend() 
List_1 = ["Hari","Yogesh"]
List_1.extend(25)
print(List_1)  # TypeError : numberic(int) value is not iterable in "extend()"

['Hari', 'Yogesh', 23]

TypeError: 'int' object is not iterable

In [39]:
# 3. -    append() , extend()  -> Numeric List
    
# Examples : 

List_1 = [10,20,30,40,50]
List_2 = [60,70,80]

# append()
List_1.append(List_2)
print(List_1)   # [10, 20, 30, 40, 50, [60, 70, 80]]  

List_1 = [10,20,30,40,50]
List_2 = [60,70,80]
# extend()
List_1.extend(List_2)
print(List_1)     #  [10, 20, 30, 40, 50, 60, 70, 80]

[10, 20, 30, 40, 50, [60, 70, 80]]
[10, 20, 30, 40, 50, 60, 70, 80]

In [42]:
# 4. append() , extend() -> List
    
# Examples :

fruit = ["Mango","Apple","Orange"]
colour = ["Yellow","Red","Pink"]

# append()
fruit.append(colour)
print(fruit)  #  ['Mango', 'Apple', 'Orange', ['Yellow', 'Red', 'Pink']]

fruit = ["Mango","Apple","Orange"]
colour = ["Yellow","Red","Pink"]

# extend()
fruit.extend(colour)
print(fruit)  # ['Mango', 'Apple', 'Orange', 'Yellow', 'Red', 'Pink']

['Mango', 'Apple', 'Orange', ['Yellow', 'Red', 'Pink']]
['Mango', 'Apple', 'Orange', 'Yellow', 'Red', 'Pink']

In [46]:
# 5) insert() -> Adds an element at "Specified Position"

List = ["Hari","Yogesh","Baskar"]
List.insert(2,"Ram")
print(List)  # ['Hari', 'Yogesh', 'Ram', 'Baskar']

['Hari', 'Yogesh', 'Ram', 'Baskar']

In [47]:
# 6) pop() - removes the end element(by default) of the list

List = [25,45,65,85,95]

List.pop()

print(List)    #  [25, 45, 65, 85]

[25, 45, 65, 85]

In [48]:
# 7) remove() -> removes the element with the specified values

List = [10,20,30,40]

List.remove(40)
print(List)    # [10, 20, 30]

[10, 20, 30]

In [49]:
#  8) clear() --> Removes all the elements from the list

List = [10,20,30]

List.clear()
print(List)  #  []

[]

In [50]:
#  9) del()  -> delete the specified values 

List = ["Red","Blue","White"]

del List[2]
print(List)  #  ['Red', 'Blue']

['Red', 'Blue']

In [53]:
#  10) index()  -> Returns the index of the first element with the specified value

List = [10,20,30,40]

print(List.index(30))  #  2

2

In [55]:
#  11) count()  -> Returns the number of elements with the specified value

List = ["Red","Yellow","Blue"]

print(List.count("Yellow"))  # 1

1

In [61]:
#  12) copy() -> Returns a copy of the list

List_1 = ["Red","Yellow","Blue"]
List_2 = List_1.copy()

print(List_2)   #  ['Red', 'Yellow', 'Blue']

['Red', 'Yellow', 'Blue']

In [68]:
#  13) sort()  -> Sorts the list in Ascending order

List_1 = ["Ram", "Yogesh", "Hari"]

List_1.sort()
print(List_1)   # ['Hari', 'Ram', 'Yogesh']

List_2 = ["Ram",25,"Hari",15]
print(List_2.sort())  # TypeError: '<' not supported between instances of 'int' and 'str'

['Hari', 'Ram', 'Yogesh']

TypeError: '<' not supported between instances of 'int' and 'str'

In [69]:
#  14) reverse() -> Reverses the order of the list

List = [10,20,30,40,50]

List.reverse()
print(List)    #  [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]