#                              LOOPING


   -  repeating something over and over until a particular condition is satisfied.
   
   -  TYPES OF LOOPS :  * FOR LOOP , * WHILE LOOP

In [ ]:
# While loop 

#       Repeats a statement or group of statements while a given condition is TRUE. 
#       It tests the condition before executing the loop body.

In [ ]:
# syntax : 

# while(condition):
     # body of while loop
     # increment/decrement operation

In [4]:
# examples :   Print "Hi" for 5 times

i=1
while(i<=5):
    print("Hi")
    i=i+1

Hi
Hi
Hi
Hi
Hi

In [5]:
# examples for printing numbers without using loop

print("Number 1")
print("Number 2")
print("Number 3")
print("Number 4")
print("Number 5")

Number 1
Number 2
Number 3
Number 4
Number 5

In [6]:
# examples for printing numbers (using WHILE loop)

i = 1
while(i<=5):
    print("Number",i)
    i=i+1
print("Terminated from WHILE LOOP")

Number 1
Number 2
Number 3
Number 4
Number 5
Terminated from WHILE LOOP

In [7]:
# Print even Numbers (Using WHILE Loop)

i = 2
while(i<=10):
    print(i)
    i = i + 2

2
4
6
8
10

In [ ]:
# infinite  loop (using while)

i = 1

while(i<=10):
    print("Numbers",i)
    
print("Terminated")

In [ ]:
# Using True Keyword

# i = 1
# while True :
#     print("Numbers",i)

In [8]:
# nested while loop -> while loop inside the while loop

# Examples :

i = 1
j = 5

while(i<4):
    while(j<8):
        print(i,j)
        i = i + 1
        j = j + 1
        
print("Terminated outside while loop")

1 5
2 6
3 7
Terminated outside while loop

In [9]:
# while with else part

a = 1 
while(a<=5):
    print(a)
    a=a+1
    
else :
    print("I am from else block")

1
2
3
4
5
I am from else block

#                          FOR  Loop

- used for iterating over a sequence
- (that is either a list, a tuple, a dictionary, a set, or a string).

- Syntax :  

###      for variable_name in sequence :
###          statement
###          statement

In [10]:
# Examples :  printing string (using print())

name = "Yogesh"
print(name)

Yogesh

In [11]:
# Printing 'Strings' using FOR LOOP
name = "Yogesh"
for i in name:
    print(i)

Y
o
g
e
s
h

In [12]:
# printing strings without assigning a variable

for i in "Hari":
    print(i)

H
a
r
i

In [13]:
# example list (using Print())

list1=["Hari","Male",23,5.12]
print(list1)

['Hari', 'Male', 23, 5.12]

In [14]:
# example list - (using FOR)

list1=["Hari","Male",23,5.12]

for i in list1:
    print(i)

Hari
Male
23
5.12

In [15]:
# example list - adding(SUM) elements ( Using FOR)

a = [10,25,30,35]
sum = 0
for i in a:
    sum = sum + i
    
print("Total Value = ",sum)

Total Value =  100

In [16]:
# Tuple (Using FOR)

a =(10,20,30)
for i in a:
    print(i)

10
20
30

In [17]:
# For in range function 

# Examples :  Generating numbers using range()

for i in range(1,6):
    print(i)

1
2
3
4
5

In [18]:
# even numbers (USING FOR IN RANGE())

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [19]:
# odd numbers (USING FOR IN RANGE())

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [20]:
# negative odd numbers (USING FOR IN RANGE())

for i in range(-1,-10,-2):
    print(i)

-1
-3
-5
-7
-9

In [21]:
# negative even numbers (USING FOR IN RANGE())

for i in range(-2,-10,-2):
    print(i)

-2
-4
-6
-8

In [22]:
# passing a String

a = "PYTHON"
l = len(a)
for i in range(l):
    print(a[i])

P
Y
T
H
O
N

In [23]:
# passing a List
a = ["Welcome","To","Python"]

for i in range(len(a)):
    print(a[i])

Welcome
To
Python

In [24]:
# for loop with else

#  when condition gets failed, the failed part will get executed

# examples :

for i in range(0,3):
    print(i)
    
else :
    print("I am from else block")

0
1
2
I am from else block

In [25]:
# passing a String

for i in "Hari":
    print(i)
    
else :
    print("I am from else block")

H
a
r
i
I am from else block

In [26]:
# passing a list (for else)
a = [10,20,30]
for i in a:
    print(i)
    
else :
    print("Else block")

10
20
30
Else block

In [27]:
# for with if

for i in range(1,21):
    if(i%5==0):
        print(i)

5
10
15
20

In [28]:
# for with if else

for i in range(5,11):
    if(i%5==0):
        print(i," is divisible by 5")
        
    else :
        print(i," is not divisible by 5")
        
print("Loop terminated")

5  is divisible by 5
6  is not divisible by 5
7  is not divisible by 5
8  is not divisible by 5
9  is not divisible by 5
10  is divisible by 5
Loop terminated

In [29]:
# passing a range function using nested for loop

names = ["Hari","Yogesh","Ram"]

for i in range(0,3):
    print("outer loop",i)
    for j in names:
        print("inner loop",j)

outer loop 0
inner loop Hari
inner loop Yogesh
inner loop Ram
outer loop 1
inner loop Hari
inner loop Yogesh
inner loop Ram
outer loop 2
inner loop Hari
inner loop Yogesh
inner loop Ram

In [30]:
# passing a list 

list1 = ["Hari","Yogesh"]
list2 = ["Raghu","Gopi"]

for i in list1:
    for j in list2:
        print(i,j)

Hari Raghu
Hari Gopi
Yogesh Raghu
Yogesh Gopi

In [31]:
# break (using WHILE LOOP)

i = 1
while(i<=7):
    print(i)
    if(i==4):
        break
    i=i+1
    
print("While Loop Terminated")

1
2
3
4
While Loop Terminated

In [32]:
# example 2 :   break (Using WHILE LOOP)

a = 0
while(a<=7):
    if(a==3):
        break
        
    else :
        print(a)
        a = a + 1
        
print("While Loop Terminated")

0
1
2
While Loop Terminated

In [33]:
# break ( Using FOR LOOP)

for i in range(0,10):
    if(i==6):
        break
        
    print(i)
    
print("For Loop Terminated")

0
1
2
3
4
5
For Loop Terminated

In [34]:
# example 2 :  break (using FOR LOOP)

for string in "Happy Morning":
    if(string == "M"):
        break
        
    else :
        print(string)
        
print("For Loop Terminated")

H
a
p
p
y

For Loop Terminated

In [35]:
#  continue statement - > forces to execute the next iteration of the loop 
#                         while skipping the rest of the code


# continue (using For LOOP)

for names in "Yogesh":
    if(names == "e"):
        continue
        
    print(names)
    
print("For Loop Terminated")

Y
o
g
s
h
For Loop Terminated

In [36]:
# even numbers (using continue statement)

for i in range(1,10):
    if(i%2 != 0):
        continue
        
    print(i)
    
print("For Loop Terminated")

2
4
6
8
For Loop Terminated

In [37]:
# pass statement --> used as a placeholder for future code
    
#  Example - 1

print("Hi buddy!")
print("How are you?")

val = {'h','a','p','p','y'}
for i in val:
    pass

Hi buddy!
How are you?

In [38]:
# Example 2 

if (3>5):
    pass
else:
    print("Else block")

Else block

In [2]:
# Example 3:

i = 1
while(i<=5):
    if(i==3):
        pass
        print("Pass statement found")
    
    print(i)
    i = i + 1
        
print("While Loop Terminated")

1
2
Pass statement found
3
4
5
While Loop Terminated

In [3]:
# Example 4 :

for i in range(0,9):
    if(i==5):
        pass
    else:
        print(i)
        
print("For Loop Terminated")

0
1
2
3
4
6
7
8
For Loop Terminated