#                 MEMBERSHIP  Operator

     
     -  used to test if a sequence is presented in an object:
     
     -  'in' =>  returns True if the value is found in the sequence.
     
     -  ' not in' =>  returns True if the value is not found in the sequence.
     
     
###  EXAMPLES :

In [2]:
# Examples : STRING VALUES
    
a = "Welcome to Python" 

print("to" in a)          # True
print("Python" not in a)  # False

True
False

In [5]:
#  Examples :  LIST VALUES

a = [10,20,30,40]

print(30 in a)     # True
print(35 not in a) # True

True
True

In [7]:
# Examples :  TUPLE VALUES

a = (10,20,30,40)

print(30 in a)     # True
print(30 not in a) # False

True
False

In [8]:
# Examples :  DICTIONARY VALUES    (by check only keys , not values)

a = {1:10,2:20}

print(2 in a)     # True
print(3 not in a) # True

True
True

In [1]:
# Examples :  SET VALUES

a = {10,20,30,40,"Hi Hari"}

b = {10,20,30,40,"Hi Hari", "Hi"}

print("Hi" in a)     # False

print("Hi" in b)     # True

print(30 not in a)   # False

False
True
False