# Session 2 - Pythons Basics
 THis session would be talking about the python basics which includes Data types and its operations

## What is a Variable?
Variable is a container where we can store our values and retrieve it whenever needed

In [5]:
Age = 25 # 25 is the number
Nationality = "Indian" # THis is a string which is alpha-numeric
Is_Social_activist = True # this is boolean

In [2]:
Age

25

### Data types - Numbers

In [3]:
#Float and int
Age = 25 #Interger
Height = 175.12 # FLoat is nothing but decimals

### Data Types - Boolean

In [6]:
True

True

In [7]:
False

False

In [18]:
# What is a list?
B_17 = ['Science','Maths','Commerce','Science']

In [14]:
type(B_17) # This is called list

tuple

In [23]:
len(B_17)/2 # THis will give you the number of elements inside the list or tuple

2.0

In [22]:
# Indexing
B_17[-2] # Index starts with 0

'Commerce'

In [25]:
Multi_list = ['Hari',25,175.12]

In [26]:
Multi_list

['Hari', 25, 175.12]

In [28]:
Name = Multi_list[0]
Age = Multi_list[1]
Height = Multi_list[2] # Variable assignment We can assign a variable from the list

In [29]:
Multi_list_2 = [Name,Age,Height] # We can create a list from the variables

In [30]:
Multi_list_2

['Hari', 25, 175.12]

In [32]:
Multi_list_2[0] = "Surya" # Mutable

In [33]:
Multi_list_2

['Surya', 25, 175.12]

In [34]:
List_books = [20,21,21,20] #here are four elements which holds the information of the availability of the books

In [35]:
List_books[0] = List_books[0]-1

In [36]:
List_books

[19, 21, 21, 20]

In [37]:
Multi_list_3 = (Name,Age,Height)

In [38]:
Multi_list_3

('Hari', 25, 175.12)

In [39]:
type(Multi_list_3)

tuple

In [41]:
Multi_list_3[0] = "Surya"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Mutables - List and dict
# Immutables - Tuples and string

In [47]:
Dict = {"Book_1":20,"Book_2":21} # Holds the information in key value pair

In [48]:
Dict

{'Book_1': 20, 'Book_2': 21}

In [44]:
Dict["Book_1"] # indexing

20

In [45]:
Dict["Book_1"] = Dict["Book_1"]-1

In [46]:
Dict

{'Book_1': 19, 'Book_2': 21}

In [ ]:
A = [] # Assignment
A[] # Indexing

In [89]:
String = "India is my country"

In [54]:
print(String)

India is my country

In [53]:
String[0] = 'i'

TypeError: 'str' object does not support item assignment

In [56]:
# String Basics and its operations

In [57]:
String #Immutable

'India is my country'

In [74]:
len(String) # this will give you the length

19

In [79]:
len(String.split()) # this will return the list of words in a string

4

In [99]:
String.split()[0] = 'india'

In [137]:
String_2 = "@"

In [138]:
String_2.isalnum()

False

In [118]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [125]:
String = "India is my country     "

In [133]:
String.startswith("i")

False

In [128]:
String.r`strip()

'India is my country'

In [109]:
Dict = {
    "Nandhi`ani":{
        "Assignment_1":95,
        "Assignment_name":"Dashboard",
        "Assignment_2":94,
        "Session_attended":21.5
    },
    "Guru Prasad":{
        "Assignment_1":91,
        "Assignment_2":91,
        "Assignment_3":85,
        "Session_attended":22
    }
}

In [71]:
Dict

{'Nandhini': {'Assignment_1': 95,
  'Assignment_name': 'Dashboard',
  'Assignment_2': 94,
  'Session_attended': 21.5},
 'Guru Prasad': {'Assignment_1': 91,
  'Assignment_2': 91,
  'Assignment_3': 85,
  'Session_attended': 22}}

In [73]:
Dict['Nandhini']['Assignment_name']

'Dashboard'

In [139]:
List_multi = [1,2,3,4,5]

In [140]:
List_multi.append(6)

In [141]:
List_multi

[1, 2, 3, 4, 5, 6]

In [142]:
List_multi.pop()

6

In [143]:
List_multi

[1, 2, 3, 4, 5]

In [149]:
Set_1 = set([1,2,3,4,5]) # Superset

In [150]:
Set_2 = set([1,2])

In [151]:
Set_2.issubset(Set_1)

True

In [153]:
Set_1.issuperset(Set_2)

True

In [156]:
Set_1+Set_2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [168]:
List_1 = [1,2,3,4,5]
List_2 = (6,7,8,9,10)

In [171]:
# String concatenation
String_1 = "I won"
String_2 = "the match"

In [175]:
String_1+ " " + String_2 # Sring concatenation

'I won the match'

In [176]:
#List operations
List = [1,2,3,4,5]

In [178]:
max(List)

5

In [179]:
min(List)

1

In [180]:
sum(List)

15

# Loops
for loop
while loop
COnditional statments:
if 
if else
elif
else

In [194]:
# What is conditional statment
Age = 26

In [195]:
Height

175.12

In [197]:
if Age>25: #True
    if Height<160:
        print("Taller")
    else:
        print("Shorter")
else:
    print("failed")

Shorter

In [235]:
# Getting user input
# we need a program to get to inputs from the user and store it in the variables
balance = 1000

In [243]:
Name = input('Please enter your name')

Please enter your name Stephen

In [236]:
Input_2 = input()

 1000

In [209]:
#If the user types alphabets, i want "Please enter numbers"
# if the user give more then the avaialble value, return "YOu don thave sufficent funds"
#Bank don't provide zero balance
#User input is  > input 1 "Hi, You have 1000 rupees in your account, kindly enter lower amount"

In [244]:
# To compare the user input 1 and 2 and let them know the output
if Input_2.isnumeric():
    if int(Input_2)>=balance:
        print(f"Hi {Name}, you have balance of {balance}. Kindly enter lesser amount") # format
else:
    print("Please enter numbers")

Hi Stephen, you have balance of 1000. Kindly enter lesser amount

In [225]:
if int(Input_2)>=Input_1:
        print("Hey, You dont have sufficient Funds")

ValueError: invalid literal for int() with base 10: 'A'