#                                 SET -  Datatypes


    -  Unordered Collection of data
    -  immutable
    -  un-indexed
    -  store multiple items in a single variable
    -  Represented in Curly braces {}
    -  Duplicates are not allowed
    -  Cannot access items in a set by referring to an 'index or a key'.

In [2]:
## Creating a Set

set1 = {"Hari",23,True,1,5.9,"Male",23}

print(set1)   # {True, 'Male', 5.9, 23, 'Hari'}

print(type(set1))   #  <class 'set'>

{True, 'Male', 5.9, 23, 'Hari'}
<class 'set'>

In [7]:
#  Creating an Empty SET :

s1 = {}
print(type(s1))  # it returns " <class 'dict'> "

s2 = set()
print(type(s2))   #<class 'set'>

s3 = set([1,2,3])
print(s3)             # {1, 2, 3}
print(type(s3))       # <class 'set'>

s4 = set((1,2,3))
print(s4)             # {1, 2, 3}
print(type(s4))       # <class 'set'>

<class 'dict'>
<class 'set'>
{1, 2, 3}
<class 'set'>
{1, 2, 3}
<class 'set'>

In [8]:
# Basic Operations  -  len()

s1 = {1,2,3,4,5,6}
print(len(s1))    # 6

6

In [9]:
# Basic Operations  -  min()

s1 = {1,2,3,4,5,6}
print(min(s1))     # 1

1

In [10]:
# Basic Operations  -  max()

s1 = {1,2,3,4,5,6}
print(max(s1))    # 6

6

In [11]:
# Basic Operations  -  sum()

s1 = {1,2,3,4,5,6}
print(sum(s1))     #  21

21

In [12]:
# Adding Elements to the set -  add()

s1 = {1,2,3,4,5,6}

s1.add(8)
print(s1)   #  {1, 2, 3, 4, 5, 6, 8}

{1, 2, 3, 4, 5, 6, 8}

In [13]:
# Adding multiple elements to the set -  update()

s1 = {1,2,3,4,5,6}

s1.update(["Hello","Python"])
print(s1)         #    {1, 2, 3, 4, 5, 6, 'Hello', 'Python'}

{1, 2, 3, 4, 5, 6, 'Hello', 'Python'}

In [14]:
# Accessing element from set   - by using for loop

s1 = {1,2,3,4}

for i in s1:
    print(i)

1
2
3
4

In [ ]:
# Removing element from set

In [16]:
# remove()  - Removes the specified element

s = {"Hari",23,5.10,"Male"}
s.remove("Male")
print(s)    # {'Hari', 5.1, 23}

{'Hari', 5.1, 23}

In [17]:
# discard() - Remove the specified item

s = {"Hari",23,5.10,"Male"}
s.discard("Hari")
print(s)   # {'Male', 5.1, 23}

{'Male', 5.1, 23}

In [21]:
# pop() - Removes an element from the set

s = {"Hari",23,5.10,"Male"}   
print(s)  # {'Male', 'Hari', 5.1, 23}

print(s.pop())  # Male     # removes 1 st element in the set

print(s)  # {'Hari', 5.1, 23}

{'Male', 'Hari', 5.1, 23}
Male
{'Hari', 5.1, 23}

In [47]:
# clear() - Remove all elements from the set:
    
a = {10,20,30}

print(a.clear())   # None
print(type(a))     # <class 'set'>

None
<class 'set'>

In [48]:
# copy()

a = {10,20,30}

b = a.copy()
print(b)    # {10, 20, 30}

{10, 20, 30}

#                            SET  - Methods

In [22]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [23]:
# union()  - Return a set containing the union of sets

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"} 

print(s1.union(s2))  # {'Blue', 'Purple', 'Green', 'Orange', 'Pink', 'Black', 'Red', 'Yellow'}

{'Blue', 'Purple', 'Green', 'Orange', 'Pink', 'Black', 'Red', 'Yellow'}

In [26]:
# intersection()  - Returns a set, that is the intersection of two other sets

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"} 

print(s1.intersection(s2))   #  {'Black', 'Pink'}

print(s1)  # {'Pink', 'Blue', 'Black', 'Yellow'}  // difference b/w intersection_update and 
#                                                                              intersection

{'Black', 'Pink'}
{'Pink', 'Blue', 'Black', 'Yellow'}

In [28]:
# intersection_update() -Removes the items in this set that are not present in other,
#                         specified set(s)

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"} 

print(s1.intersection_update(s2))  # none
print(s1)  # {'Black', 'Pink'}             // difference b/w intersection_update and 
#                                                                              intersection

None
{'Black', 'Pink'}

In [30]:
# difference() - removes common name from two sets and return the given result set

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.difference(s2))  #  {'Blue', 'Yellow'}

print(s2.difference(s1))  #  {'Purple', 'Red', 'Orange', 'Green'}

{'Blue', 'Yellow'}
{'Purple', 'Red', 'Orange', 'Green'}

In [32]:
# difference_update() - Removes the items in this set that are also included in another, 
#                                                                          specified set

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.difference_update(s2))   # None
print(s1)  # {'Blue', 'Yellow'}

None
{'Blue', 'Yellow'}

In [33]:
#  symmetric_difference() - removes common names from both the sets
#                         - returns the remaining values from both the sets   

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.symmetric_difference(s2)) # {'Blue', 'Orange', 'Purple', 'Red', 'Green', 'Yellow'}

{'Blue', 'Orange', 'Purple', 'Red', 'Green', 'Yellow'}

In [35]:
# symmetric_difference_update() - inserts the symmetric differences from this set and another

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.symmetric_difference_update(s2))   # None
print(s1)    # {'Blue', 'Purple', 'Green', 'Orange', 'Red', 'Yellow'}

None
{'Blue', 'Purple', 'Green', 'Orange', 'Red', 'Yellow'}

In [40]:
# issubset()  - Returns boolean value whether another set contains this set or not

s1 = {"Black","Blue","Yellow","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.issubset(s2))  # False

s1 = {"Black","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.issubset(s2))  # True

False
True

In [43]:
#  issuperset()  -  Returns whether this set contains another set or not

s1 = {"Black","Pink"}
s2 = {"Red","Purple","Green","Black","Orange","Pink"}

print(s1.issuperset(s2))   # False

s2 = {"Red","Purple","Green","Black","Orange","Pink"}
s1 = {"Black","Pink"}

print(s2.issuperset(s1))   # True

False
True

In [45]:
# isdisjoint() - returns True if both the sets having different elements

a = {10,20,30}
b = {40,50}

print(a.isdisjoint(b))  # True

a = {10,20,30}
b = {40,50,30}

print(a.isdisjoint(b))  # False

True
False