#                        TUPLE  -  Datatype

         -  Ordered Collection
         -  Immutable
         -  Collection of items in a single Variable
         -  Represented in () - 'Paranthesis

In [6]:
#  Creating a TUPLE

s = ("Hari",23,"Male")
print(s)                 # ('Hari', 23, 'Male')
print(type(s))           # <class 'tuple'>

s1 = (1,2,3,4,5) 
print(s1)         # (1, 2, 3, 4, 5)
print(type(s1))   # <class 'tuple'>

s2 = (1)
print(s2)        # 1
print(type(s2))  # <class 'int'> ...Instead of this, we can use single number followed by comma(,)

s21 =(1,)
print(s21)        # (1,)
print(type(s21))  # <class 'tuple'>

('Hari', 23, 'Male')
<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>
1
<class 'int'>
(1,)
<class 'tuple'>

In [7]:
# Another way to declaring a tuple

num = 1,2,3,4,5  # without paranthesis
print(num)     # (1, 2, 3, 4, 5)
print(type(num))  # <class 'tuple'>

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
# Basic Operations in Tuple ->  len

s = ("Ram",23,"Male",(1,2,3))
print(len(s))   # 4

4

In [10]:
# Basic Operations in Tuple ->  Concatenation

s = (1,2,3)
s1 = (4,5,6)

print(s+s1)   # (1, 2, 3, 4, 5, 6)

print(s+2)  # only accessing the variable name while doing concatenation
            # orelse , it returns "TypeError" : can only concatenate tuple (not "int") to tuple.

(1, 2, 3, 4, 5, 6)

TypeError: can only concatenate tuple (not "int") to tuple

In [15]:
# Basic Operations in Tuple ->  Repitition

s=(1,2,3)
s1 = (4,5,6)

print(s1*2)   # (4, 5, 6, 4, 5, 6)

print(s*s) # TypeError: can't multiply sequence by non-int of type 'tuple'

(4, 5, 6, 4, 5, 6)

TypeError: can't multiply sequence by non-int of type 'tuple'

In [18]:
# Basic Operations in Tuple ->  Membership Operator

s = (1,2,3,4,5)

# in
print(4 in s)  # True

# not in
print(4 not in s)  # False

True
False

In [19]:
# Accessing Tuple Values 
text = ("Welcome","to",("Data","Science"),"Course")
print(text)

('Welcome', 'to', ('Data', 'Science'), 'Course')

In [21]:
# Accessing - Positive Indexing

print(text[1])     # to
print(text[2][0])  # Data
print(text[2][1])  # Science

to
Data
Science

In [22]:
# Accessing - Negative Indexing
text = ("Welcome","to",("Data","Science"),"Course")

print(text[-4])       # Welcome
print(text[-2][-2])   # Data
print(text[-2][-1])   # Science

Welcome
Data
Science

In [23]:
#   Slicing  - Positive

text = ("Welcome","to",("Data","Science"),"Course")

print(text[0:3])    # ('Welcome', 'to', ('Data', 'Science'))

('Welcome', 'to', ('Data', 'Science'))

In [24]:
#   Slicing - Negative

text = ("Welcome","to",("Data","Science"),"Course")

print(text[-3:])    # ('to', ('Data', 'Science'), 'Course')
print(text[-2:-1])  # (('Data', 'Science'),)

('to', ('Data', 'Science'), 'Course')
(('Data', 'Science'),)

In [32]:
#  packing and unpacking

# packing

details = ("Hari",23,181.5)
(Name,Age,Height) = details
# Name,Age,Height = details  without brackets
print(details)   # ('Hari', 23, 181.5)

# unpacking 

details = ("Hari",23,181.5,61,45,"Male")
(Name,*Age,Height) = details
print(Name,Age,Height)  #  Hari [23, 181.5, 61, 45] Male

details = ("Hari",23,181.5,61,45)
(Name,Age,*Height) = details
print(Name,Age,Height)       # Hari 23 [181.5, 61, 45]

('Hari', 23, 181.5)
Hari [23, 181.5, 61, 45] Male
Hari 23 [181.5, 61, 45]

#                           TUPLE - Methods

In [29]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [30]:
#  1) count() 

s = (1,2,3,4,5.1,1,3,6,3)

print(s.count(3))    # 3

3

In [31]:
#  2) index() 

s = (1,2,3,4,5.1,1,3,6,3)

print(s.index(1))    # 0

0